.header {
    &--subscribe {
        font-size: 16px;
        text-decoration: underline;
        color: var(--bs-gray);
        cursor: pointer;
    }

    &--title {
        font-size: 36px;
        line-height: 54px;
        font-weight: 400;
        text-decoration: underline;
    }

    &--signup {
        font-size: 14px;
        color: var(--bs-gray);
        padding: 3px 10px 7px;
        border: 1px solid var(--bs-gray);
        border-radius: 3px;
        cursor: pointer;
        background-color: transparent;
    }
}
