.article {
    height: 296px;
    background: var(--articleBg);

    @media (min-width: 768px) {
        height: 250px;
    }

    &--textItem {
        height: 100%;
        padding: 22px 25px 28px;

        @media (min-width: 768px) {
            padding: 22px 32px 15px 25px;
        }
    }

    &--date {
        color: var(--bs-gray);
    }

    &--title {
        font-family: 'Playfair Display';
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }

    &--image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &__loader {
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--articleBg);
        }
    }
}
