.article {
    height: 250px;
    background: #ececec;

    &--item {
        color: var(--bs-body-color);
    }

    &--date {
        color: var(--bs-gray);
    }

    &--title {
        font-family: 'Playfair Display';
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }

    &--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--text__limit {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
